
*.vsidx
*.cache
*.editorconfig
*.user
*.bin
*.v2
ProteinePlus/.vs/ProteinePlus/v17/.suo
*.bin
*.v2
ProteinePlus/.vs/ProteinePlus/v17/.suo
*.apk
*.dll
*.pdb
*.cache
*.zip
*.ll
*.o
*.so
ProteinePlus/ProteinePlus/obj/Debug/net7.0-android/customview-map.txt
ProteinePlus/ProteinePlus/obj/Debug/net7.0-android/buildid.txt
*.flat
*.hash
ProteinePlus/.vs/ProjectEvaluation/proteineplus.metadata.v7.bin
ProteinePlus/.vs/ProjectEvaluation/proteineplus.projects.v7.bin
ProteinePlus/.vs/ProteinePlus/DesignTimeBuild/.dtbcache.v2
ProteinePlus/.vs/ProteinePlus/v17/.suo
